header {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: .6;
}

header * {
    display: inline;
}

nav ul {
  transform: translate(517px);
}

#about {
  transform: translate(0px 100px);
}

nav li {
    margin-left: 1020px;
    font-family: 'Helvetica';
    cursor: pointer;
    color: black;
}


/* ========== SOCIALS ICONS ============== */

.fa {
  margin: 20px;
  padding: 5px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  color: black;
}


.fa:hover {
  color: black;
  opacity: 1;
}


/* Facebook */
.fa-facebook {
  color: black;
  height: 13px;
}

.fa-github {
  color: black;
  font-size: 25px;
}

/* =============VIDEO============ */

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 4px var(--blue);
}

img {
  color: black;
  width: 30%;
}

/* ===============SITES============== */

.link {
  display: flex;
  margin-top: 50px;
}

.sidebar img {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 200px;
}

.info {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}


h2 {
  font-family: 'Helvetica';
  font-weight: 500;
  margin-top: -5px;
}

h4 {
  font-family: 'Helvetica';
  font-weight: 400;
}

/* =================FOOTER============== */

.footerlink {
  display: flex;
  justify-content: space-around;
}
